 <header class="header">
    <nav class="nav-items">
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="profile">Profile</a>
      <a href="login">Login</a>
    </nav>
  </header>
  <div class="achievements">
    <p>
        <b>Also, you need to take into account the learning time required for Typescript. That said, Angular has a very steep learning curve. React, however, is not that complex to learn and is easier to grasp since it is just a library not a complete packaged solution like Angular.</b></p>
  </div>
  <footer class="footer">
    <div class="bottom-links">
      <div fxLayout="row" class="links">
        <span>More Info</span>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="profile">Profile</a>
      </div>
      <div fxLayout="row" class="links">
        <span>Social Links</span>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </footer>