<section class="sample-app-content">
    <h2>Forget Password</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <p>
            <label>Email</label>
            <input type="text" formControlName="firstName">
        </p>
        <p>
            <label>Password:</label>
            <input type="password" formControlName="password">
        </p>
        
        <p>
            <label>Confirm Password:</label>
            <input type="password" formControlName="cpassword">
        </p>
            <button type="submit" [disabled]="!form.valid">Submit</button>

    </form>
</section>