<div *ngIf="dataCheck">
    <section class="sample-app-content">
        <h2>Forget Password</h2>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <p>
                <label>first Name</label>
                <input type="text" formControlName="firstName" required>
               
            </p>
            <p>
                <label>Email</label>
                <input type="text" formControlName="email">
            </p>

            <button type="submit" (click)="forgetPass()">Next</button>


        </form>
    </section>
</div>

<div *ngIf="otpCheck">
    <section class="sample-app-content">
        <h2>OTP Validation </h2>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <p>
                <label>Email</label>
                <input type="text" formControlName="email1">
            </p>
            <p>
                <label>OTP</label>
                <input type="text" formControlName="otp">
            </p>

            <p>
                <label>Confirm OTP</label>
                <input type="password" formControlName="cotp">
            </p>
            <button type="submit" (click)="otp()">Next</button>

        </form>
    </section>
</div>

<div *ngIf="passwordcheck">
    <section class="sample-app-content">
        <h2>Reset Password</h2>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <p>
                <label>Current Password:</label>
                <input type="password" formControlName="password">
            </p>

            <p>
                <label>New Password</label>
                <input type="password" formControlName="cpassword">
            </p>
            <!-- <button type="submit" (click)="passwordCheck()">Submit</button> -->

            <button type="menu" (click)="profile()" style="padding-left: 5px; margin: 10px;">Submit</button>


        </form>
    </section>
</div>